<ion-content [fullscreen]="true" id="background">
  <ion-grid class="scr_height">
    <ion-row class="row_height">
      <ion-col class="col_center">
        <img src="../../assets/Images/logo.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row class="row_height">
      <ion-col>
        <div>
          <ion-row>
            <ion-col class="login_title">Citizen Login</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="login_subtitle">Please Enter Your Details</ion-col>
          </ion-row>          
          <ion-row>
            <ion-col>
              <ion-row class="input_box">
                <ion-col size="5" class="p1">
                  <span class="login_subtitle">Aadhar Number : </span>
                </ion-col>
                <ion-col size="7">
                  <ion-input type="tel" placeholder="8888-8888-8888-8888" class="input_field" maxlength="12" ion-mask mask="0000-0000-0000-0000"></ion-input>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <button class="btns" [routerLink]="['/citizen/citizen-otp']" router-direction="forward">Login</button>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
