<ion-content [fullscreen]="true" id="bg">
  <div class="content_pd">
    <div class="container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <span class="dashboard_title">Upload File</span>
          </ion-col>
        </ion-row>
        <ion-row class="aline">
          <ion-col size="12">
            <ion-row class="ion_center">
              <ion-col size="12" style="text-align: center;"> 
                <ion-row>
                  <ion-col>
                    <ion-icon name="cloud-upload-outline" class="icon_uplode"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <span class="drop_text">Select your File hear</span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <span class="or_text">--OR--</span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <button class="btn_choose" for="file-uplode">
                      <input type="file"/>
                      Choose File
                    </button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="pad_top">
          <ion-col>
            <span class="dashboard_title">Files</span>
          </ion-col>
        </ion-row>
        <ion-row class="center">
          <ion-col size="2">
            <ion-icon name="document-text-outline" class="ion_file"></ion-icon>
          </ion-col>
          <ion-col size="8">
            <span class="file_list">Japan Disaster</span>
          </ion-col>
          <ion-col>
            <ion-icon name="close-outline" class="ion_files"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="center">
          <ion-col size="2">
            <ion-icon name="document-text-outline" class="ion_file"></ion-icon>
          </ion-col>
          <ion-col size="8">
            <span class="file_list">Japan Disaster</span>
          </ion-col>
          <ion-col>
            <ion-icon name="close-outline" class="ion_files"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="center">
          <ion-col size="2">
            <ion-icon name="document-text-outline" class="ion_file"></ion-icon>
          </ion-col>
          <ion-col size="8">
            <span class="file_list">Japan Disaster</span>
          </ion-col>
          <ion-col>
            <ion-icon name="close-outline" class="ion_files"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
