<ion-content [fullscreen]="true" id="bg">
  <div class="content_pd">
    <div class="container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <span class="dashboard_title">Payment</span>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <span class="subtitle">Enter File Name : </span>
          </ion-col>
          <ion-col size="6">
            <ion-input placeholder="Enter File Name" value="CBDC File-1" class="value_data"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <span class="subtitle">CBDC Balance : </span>
          </ion-col>
          <ion-col size="6">
            <ion-input placeholder="Enter ammount" value="12,000,000"></ion-input>
          </ion-col>
        </ion-row>
        <div class="divider"></div>
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <span class="subtitle">Total Balance : </span>
          </ion-col>
          <ion-col size="6">
            <span class="value_data">12,000,000</span>
          </ion-col>
        </ion-row>
        <ion-row class="center">
          <ion-col size="12">
            <button class="btn">Pay</button>
          </ion-col>
        </ion-row>
        <ion-row class="center">
          <ion-col size="12" class="ion-align-items-center ion-justify-content-center">
            <button class="btn">Downloade</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
